Django==6.0.3
Pillow==12.1.1
opencv-python==4.13.0.92
pymongo==4.16.0
djongo==1.2.31
qrcode==8.2
python-dotenv==1.2.2
numpy==2.4.3
sqlparse==0.5.5
dnspython==2.8.0
google-auth==2.38.0
google-auth-oauthlib==1.2.1
requests==2.32.3
